main {
  margin: 2em;
}
.app-spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -16px;
}
 
p {
    line-height: 2rem;
}

.post p {
    white-space: pre-wrap;
}

/* .btn {
  width: 200px;
  background-color: rgb(182, 176, 176);
} */

.deleteBtn {
  width: 200px;
  background-color: rgb(206, 42, 42);
}

.cancelBtn {
  width: 200px;
  background-color: rgb(42, 206, 56);
}